In [59]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\wahyudi prasidhatama\appdata\local\programs\python\python310\lib\site-packages (1.4.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\wahyudi prasidhatama\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\wahyudi prasidhatama\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.22.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\wahyudi prasidhatama\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\wahyudi prasidhatama\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

WARNING: You are using pip version 21.2.4; however, version 22.0.2 is available.
You should consider upgrading via the 'C:\Users\Wahyudi Prasidhatama\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

# Learning by Doing (Data Sales Analysis Project)

In [60]:
        #### import libraries

import pandas as pd
import os

In [61]:
        #### import list files from directory path
from os import listdir


        #### specify the folder
path = "E:\Wahyudi Prasidhatama\Data Engineering\Pandas Task Youtube\Pandas-Data-Science-Tasks-master\SalesAnalysis\Sales_Data/"


        #### to knowing the file names in directory
files = [file for file in os.listdir(path)]
print(files)

['Sales_April_2019.csv', 'Sales_August_2019.csv', 'Sales_December_2019.csv', 'Sales_February_2019.csv', 'Sales_January_2019.csv', 'Sales_July_2019.csv', 'Sales_June_2019.csv', 'Sales_March_2019.csv', 'Sales_May_2019.csv', 'Sales_November_2019.csv', 'Sales_October_2019.csv', 'Sales_September_2019.csv']

In [62]:
       #### make a empty dataframe for storing a merged dataframe
all_monthly_data = pd.DataFrame()


        #### file = all included files in the specified folder
        #### to merge all xls data in one folder and become a merged dataframe
for file in files:
    df = pd.read_csv(path + file)
    all_monthly_data = pd.concat([all_monthly_data,df])
    
    
        #### export DataFrame to specify folder directory
all_monthly_data.to_csv('E:\Wahyudi Prasidhatama\Data Engineering\Pandas Task Youtube\Pandas-Data-Science-Tasks-master\SalesAnalysis\Monthly_Data_Merged.csv',index=False)

In [63]:
        #### make a empty dataframe for storing a merged dataframe
# all_monthly_data = pd.DataFrame()


        #### file = all included files in the specified folder
        #### to merge all xls data in one folder and become a merged dataframe
# for file in files:
#    reading = pd.read_csv(path + file)
#    all_monthly_data = pd.concat([all_monthly_data,reading])
    
    
        #### export DataFrame to specify folder directory and the name of the file, it will 'be named Data_Sales_Analysis.csv'
# all_monthly_data.to_csv('D:\W a h y u d i\Data Engineering\Pandas task youtube\Pandas-Data-Science-Tasks-master\SalesAnalysis\Data_Sales_Analysis.csv',index=False)

 # What was the best month for sales? How much that months?

In [64]:
all_monthly_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

## Cleaning the NaN Data

In [65]:
#there are some NaN value, we need to find it and change the type or delete it
#first we can see what row does hav nan value

row_has_nan = df.isna().any(axis=1)
rows_with_nan = df[row_has_nan]


#we can know that the dataframe has 545 Nan Value
rows_with_nan.shape[0]

#it seems that rows which filled by NaN is all filled by Nan for all column
rows_with_nan.head()

#this comment written after the below code is ran so it shows that there is none of the row left with NaN value
#now we can jump to add month column from the dataframe

     Order ID Product Quantity Ordered Price Each Order Date Purchase Address
198       NaN     NaN              NaN        NaN        NaN              NaN
574       NaN     NaN              NaN        NaN        NaN              NaN
776       NaN     NaN              NaN        NaN        NaN              NaN
1383      NaN     NaN              NaN        NaN        NaN              NaN
1436      NaN     NaN              NaN        NaN        NaN              NaN

In [66]:
#it seems that NaN value in the data is filled all column in every row, not partially filled, lets see how it done
all_monthly_data.dropna(axis='rows' ,how='all',inplace=True)

#we need to apply this to our dataframa so, we need to add 'inplace=True'
row_has_nan.head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [67]:
all_monthly_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

## Adding a Month Column

In [68]:
#Make new column about month

#this code below shows to add month column by copying the order date column as a string and edit the string to only collect 2 first character by saying (0:2)
#all_monthly_data['Month'] = all_monthly_data['Order Date'].str[0:2]

#the copied value from order date to month column is done as a string, we need to change the month data to int, so we can sort it to make a list of 'month'
#all_monthly_data['Month'] = all_monthly_data['Month'].astype(int)

#I will leave the cell code stay here because it shows an error 'invalid literal for int() with base 10: 'Or'
#now I need to figure out whats that error mean

In [69]:
#so to search what is the 'Or' thing we need to look at the column with 2 character from order date first
all_monthly_data['Month'] = all_monthly_data['Order Date'].str[0:2]
all_monthly_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04

In [70]:
#it filter and shows all data which in column Month give 'Or' value then make it dissapear, therefore using '!='
#there is 355 value of 'Order Date' in Order Date column, and all the row filled with 'Order Date' is actually an ampty row
all_monthly_data[all_monthly_data['Month'].str[0:2] == 'Or'].shape[0]
all_monthly_data = all_monthly_data[all_monthly_data['Month'].str[0:2] != 'Or']

all_monthly_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04

## Adding a Sales Column

In [71]:
#After we make a 'month' column, we need to have 'sales' column, which contain [quantitiy x price = Sales] value

#We need to change the quantity ordered and price each column to integer or float to calculate it

all_monthly_data['Quantity Ordered'] = all_monthly_data['Quantity Ordered'].astype(int)
all_monthly_data['Price Each'] = all_monthly_data['Price Each'].astype(float)

all_monthly_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04

In [72]:
all_monthly_data['Sales'] = all_monthly_data['Quantity Ordered'] * all_monthly_data['Price Each']

all_monthly_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04,23.90
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04,99.99
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04,600.00
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04,11.99
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04,11.99

In [73]:
#to search for the best month for Sales we can use a groupby function to groupping the Sales by the month
#using sum function on groupby function, we can get a total value of sales for each month

all_monthly_data.groupby('Month')['Sales'].sum().sort_values(ascending=True)

#From the result we get that the result is on December

Month
01    1822256.73
09    2097560.13
02    2202022.42
08    2244467.88
06    2577802.26
07    2647775.76
03    2807100.38
05    3152606.75
11    3199603.20
04    3390670.24
10    3736726.88
12    4613443.34
Name: Sales, dtype: float64

# What city has the highest number of Sales

## Add City Column

In [75]:
all_monthly_data['City'] = all_monthly_data['Purchase Address'].apply(lambda x: x.split(',')[1])

all_monthly_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04,23.90,Dallas
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04,99.99,Boston
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04,600.00,Los Angeles
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04,11.99,Los Angeles
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04,11.99,Los Angeles

## Add City Column With its Symbol

In [79]:
all_monthly_data['City and Code'] = all_monthly_data['Purchase Address'].apply(lambda x: x.split(',')[1] + ' '+ x.split(',')[2].split(' ')[1])

all_monthly_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,City and Code
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04,23.90,Dallas,Dallas TX
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04,99.99,Boston,Boston MA
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04,600.00,Los Angeles,Los Angeles CA
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04,11.99,Los Angeles,Los Angeles CA
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04,11.99,Los Angeles,Los Angeles CA